<nav class="navbar">
    <a class="navbar-logo" href="/">
        <img src="/imgs/musculo.gif" alt="Muscle GIF">
        Dino Store
    </a>
    <ul class="navbar-icones">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pedidos">Pedidos</a>
        </li>
    </ul>
</nav>
<br>